[submodule "scss"]
	path = app/components/scss
	url = https://github.com/Entermedia-LLC/scss
[submodule "app/components"]
	path = app/components
	url = https://github.com/Entermedia-LLC/nextjs-components
