/**
 * CSS variables:
 *
 * --card-border-radius
 * --card-border-width
 * --card-border-style
 * --card-padding
 * --card-font-size
 * --card-title-font-size
 */

@import "scss/core";

.card {
  display: grid;
  font-size: var(--card-font-size, 1.6rem);
  line-height: var(--card-line-height, var(--body-line-height));
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  &__title {
    color: var(--card-title-color, var(--color-delta));
    font-size: var(--card-title-font-size, 1.4em);
    margin-bottom: 0.2em;

    a {
      color: var(--card-title-color, var(--color-delta));
      text-decoration: none;
    }
  }

  &__media {
    background: var(--card-media-background, rgba(0, 0, 0, 0.1));
    border-radius: var(--card-border-radius, 1rem)
      var(--card-border-radius, 1rem) 0 0;
    font-size: 0;
    overflow: hidden;

    a {
      display: block;
    }

    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      width: 100%;
    }
  }

  &__content {
    border-bottom: var(--card-border-width, 1px) var(--card-border-style, solid)
      var(--card-border-color, rgba(0, 0, 0, 0.1));
    border-left: var(--card-border-width, 1px) var(--card-border-style, solid)
      var(--card-border-color, rgba(0, 0, 0, 0.1));
    border-radius: 0 0 var(--card-border-radius, 1rem)
      var(--card-border-radius, 1rem);
    border-right: var(--card-border-width, 1px) var(--card-border-style, solid)
      var(--card-border-color, rgba(0, 0, 0, 0.1));
    padding: var(--card-padding, var(--global-gutter));
  }

  &__children {
    p {
      margin: var(--card-children-p-margin, 0 0 0.5em 0);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
