// Import sass variables.
@import "../atomic-design/variables";

// Import sass mixins.
@import "../atomic-design/mixins";

.gutenberg-xs-hidden {
  @include breakpoint(xs-only) {
    display: none;
  }
}

.gutenberg-sm-hidden {
  @include breakpoint(sm-only) {
    display: none;
  }
}

.gutenberg-md-hidden {
  @include breakpoint(md-only) {
    display: none;
  }
}

.gutenberg-lg-hidden {
  @include breakpoint(lg-only) {
    display: none;
  }
}

.gutenberg-xl-hidden {
  @include breakpoint(xl-only) {
    display: none;
  }
}

.gutenberg-xxl-hidden {
  @include breakpoint(xxl-only) {
    display: none;
  }
}
