/**
 * Application CSS variables
 */

@import '../core';

:root {
  --color: #000;

  --sizexxs: 1.2rem;
  --sizexs: 1.4rem;
  --sizesm: 1.6rem;
  --size: 1.8rem;
  --sizemd: 2.2rem;
  --sizelg: 2.8rem;
  --sizexl: 3.2rem;
  --sizexxl: 4rem;

  --line-height: 1;
  --letter-spacing: -0.03em;

  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-weight-xb: 800;

  --gutter: 1.6rem;
  --width: 118.4rem;
}
