/**
 * Application CSS variables
 */

@import '../core';

:root {
  --color: #000;

  --sizeSM: 1.6rem;
  --size: 1.8rem;
  --sizeMD: 2.2rem;
  --sizeLG: 2.8rem;
  --sizeXL: 3.2rem;
  --sizeXXL: 4rem;

  --line-height: 1;
  --letter-spacing: -0.05em;

  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-weight-XB: 800;

  --gutter: 1.6rem;
  --width: 128rem;
}
